{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Cart</h1>
      <p class="lead fw-normal text-white-50 mb-0">View cart summary</p>
    </div>
  </div>
</header>
<!-- Section-->
<div class="container">
  <br />
  {% if cart_products %} {% for product in cart_products %}
  <div class="card mb-3" style="max-width: 100">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ product.image.url }}"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          {% if product.is_sale %}
          <!-- Product price-->
          <p>
            <del> ${{ product.price }} </del> &nbsp; ${{ product.sale_price }}
          </p>
          {% else %}
          <p>${{ product.price }}</p>
          {% endif %}
          <br />
          <div class="row rounded-start">
            <div class="col-md-2">Quantity:</div>
            <div class="col-md-2">
              <select class="form-select" id="select{{product.id}}">
                {% for key,value in quantities.items %} {% if key == product.id|slugify %}
                <option selected>{{ value }}</option>
                {% endif %} {% endfor %}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
          <a href="{% url 'home' %}" class="btn btn-secondary"> Home </a>
          <button
            type="button"
            data-index="{{product.id}}"
            class="updated-cart btn btn-secondary"
          >
            Update
          </button>
          <button
            type="button"
            data-index="{{product.id}}"
            class="remove-item btn btn-danger"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <h3>Total price: ${{total_prices}}</h3>
  <br />
  {% else %}
  <p>There nothing in the cart yet</p>
  <br />
  <br />
  {% endif %}
</div>

<script>
  $(document).on("click", ".updated-cart", function (e) {
    e.preventDefault();
    var productid = $(this).data("index");
    $.ajax({
      type: "POST",
      url: "{% url 'cart:cart_update' %}",
      data: {
        product_id: productid,
        product_qty: $(`#select${productid} option:selected`).text(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        location.reload();
      },
      error: function (xhr, errmgs, err) {},
    });
  });
  $(document).on("click", ".remove-item", function (e) {
    e.preventDefault();
    var productid = $(this).data("index");
    $.ajax({
      type: "POST",
      url: "{% url 'cart:cart_delete' %}",
      data: {
        product_id: productid,
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json, msg, xhr) {
        // console.log(xhr.status);
        location.reload();
      },
      error: function (xhr, errmgs, err) {},
    });
  });
</script>

{% endblock %}
