{% extends 'store/base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About us ...</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome to my website. Happy shopping!!
      </p>
    </div>
  </div>
</header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <p class="justify-content-center">
        <br /><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus
        felis ac pharetra volutpat. Integer a fringilla est, sit amet fermentum
        augue. Nunc nec imperdiet quam. Sed vehicula nibh sapien, et hendrerit
        libero ullamcorper et. Nullam consectetur eros in ante bibendum, eget
        luctus ex pellentesque. Quisque fringilla ut nibh ac ultrices. Fusce
        gravida tincidunt eros, quis tempus ligula efficitur quis. Vestibulum
        malesuada placerat eros eu iaculis.
        <br /><br />
        Vestibulum mi mauris, ullamcorper a viverra quis, suscipit at nulla.
        Donec sollicitudin vehicula augue malesuada rutrum. Curabitur vitae
        dolor commodo magna dignissim vulputate a vitae tortor. Mauris at quam
        at ligula porttitor suscipit mollis vel magna. Pellentesque ac lorem
        tempus, malesuada lacus eu, vestibulum libero. Sed bibendum fermentum
        leo vitae convallis. Nullam maximus, quam ac fringilla placerat, ipsum
        sem ornare tellus, quis efficitur ipsum nisl ut massa. Sed sagittis sed
        tellus at rutrum. Fusce elit metus, sagittis ut justo nec, placerat
        cursus sapien. Aliquam feugiat suscipit convallis.
        <br /><br />
        Integer gravida, elit sollicitudin dapibus blandit, nunc nisi ultrices
        libero, eget luctus tortor nibh eu massa. Nam vitae mauris risus. Fusce
        pulvinar erat mauris, sit amet malesuada ante fermentum sit amet. Donec
        tempor, nunc non pretium consectetur, dui magna semper tortor, nec
        fermentum dolor ipsum ut ipsum. Nam pretium sapien et varius dictum.
        Integer laoreet tempus ultrices. Quisque consequat venenatis elementum.
        Proin efficitur hendrerit metus vitae vulputate. Nulla a urna sit amet
        eros pellentesque commodo vel a sapien. Proin non mi urna.
        <br /><br />
      </p>
    </div>
  </div>
</div>
{% endblock %}
