{% extends 'base.html' %} {% block content %}
<!-- Header-->
<div class="container justify-content-center">
  <div class="card mb-3" style="max-width: 100">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ product.image.url }}"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          {% if product.is_sale %}
          <!-- Product price-->
          <p>
            <del> ${{ product.price }} </del> &nbsp; ${{ product.sale_price }}
            <div class="row rounded-start">
              <div class="col-md-2">
                Quantity: 
              </div>
              <div class="col-md-2">
                <select class="form-select" id="qty-cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
          </p>
          {% else %}
          <p>${{ product.price }}</p>
          <div class="row rounded-start">
            <div class="col-md-2">
              Quantity: 
            </div>
            <div class="col-md-2">
              <select class="form-select" id="qty-cart">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          {% endif %}
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
          <a href="{% url 'home' %}" class="btn btn-secondary"> Home </a>
          <button
            type="button"
            value="{{ product.id }}"
            id="add-cart"
            class="btn btn-secondary"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //check if button press
  $(document).on("click", "#add-cart", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'cart:cart_add' %}",
      data: {
        product_id: $("#add-cart").val(),
        product_qty: $("#qty-cart option:selected").text(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        // console.log(json);
        //update navbar.html id cart_quantity
        document.getElementById("cart_quantity").textContent = json.qty;
      },
      error: function (xhr, errmgs, err) {},
    });
  });
</script>
{% endblock %}
